


@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide-item-content {
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


.backdrop-image {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 720px;
  background-position: center;

}

.search-bar-main {
  z-index: 1;
  position: absolute;
  top:20%;
}

.home-header {
  color: white;
  line-height: 80px;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}

.movie-info {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}
.login-button {
  padding-bottom: 10px;
}

.all-favorites-section {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.parallax {
  width: 100%;
  height: 70vh;
  position: relative;
  background-position: center;

  /* background-repeat: no-repeat; */
}

.parallax:nth-of-type(1) {
  background: url("https://images.pexels.com/photos/8263318/pexels-photo-8263318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: relative;
  background-size:cover;
  height: 800px;
  transform-origin: top;
  transform: translateZ(10px) scale(1.2);
}

.section, .parallax {
  background-position: center;
}

.parallax-container {
  position: absolute;
  bottom: 5%;
  left: 30%;
  padding: 10px;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 1;
}

.parallax-content {
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.text-box-main {
  color: whitesmoke;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 2);
  /* background-color: black; */
  opacity: 0.6;
  font-size: 50px;
  background-color: black;
  position: absolute;
  z-index: 1;
  top: 50%;
  font-family: 'Quicksand', sans-serif;

}

.bottom-div {
  height: 1200px;
}

.signup-button {
  margin-top: 170px;
}


/* .main-slider, .main-slider-image {
  position: relative;
  background-image: linear-gradient(to left, rgba(228, 69, 206, 0.673), rgba(232, 55, 55, 0.753)), var(--img);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
} */

.slide-item-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1;
}

input, .form-control, .me-2 {
  opacity: 0.6;
  color: black;
}

.slide-title {
  color: black;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding-top: 100px;
}

.search-movies {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: black;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-slide {
  display: grid;
  text-align: center;
  background-size: cover;
  width: 100%;

} */

.navbar {
  /* opacity: 0.9; */
  letter-spacing: 1px;
  word-spacing: 10%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 30px;
  background-color: black;
}

.home-pic {
  /* background-image: linear-gradient(to left, rgba(94, 39, 87, 0.493), rgba(155, 45, 45, 0.287)), url('https://images.pexels.com/photos/8263318/pexels-photo-8263318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  width: 100%;
  height: 1280px;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  /* opacity: 0.9; */
  /* position: absolute; */
  z-index: -1;
  bottom: 0%;
  left: 0%;
}
.main-page-search {
  color: white;
  background-color: black;
  z-index: 1;
  position: absolute;
  right: 0%;
  top: 28%;
  width: 100%;
  opacity: 0.5;
  margin-top: 70px;
  padding-bottom: 50px;
}

.carousel-content {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 0%;
  right: 20%;
}
.overlay {
  top: 0;
}
/* .main-page-search {
  height: 400px;
} */

.home-header {
  text-align: center;
  /* padding-top: 150px; */
  font-size: 50px;
  /* color:aliceblue; */
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: black;
  opacity: 0.7;
}

.banner {
  /* width: 800px;
  height: 800px; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 1280px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.892),
      rgba(88, 39, 39, 0.542),
      rgb(0, 0, 0)
    ),
    url("https://images.pexels.com/photos/8263318/pexels-photo-8263318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#detail-text {
  color: white;
  margin-right: 0px;
  margin-bottom: 20px;
  max-width: 500px;
}

/* div col align-self-end pb-5 {
  padding-bottom: 200px;
} */

.poster-image {
  border-radius: 25px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.8);
  margin-top: 120px;
  /* margin-right: 15px; */
  /* margin-left: 5px; */
  /* height: 1280px; */

}

/* .slide-item-container {
  height: 500px;
  width: 100%;
}

.slide-item-content {
  height: 100%;
  width: 100%;
} */

.search-poster-image {
  border-radius: 25px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.8);
  margin-top: 25px;
}

#genres-div {
  padding-bottom: 100px;
}

.genres {
  padding-top: 5px;
  /* padding-bottom: 20px; */
  /* margin-left: .2rem; */
  padding-right: 50px;
  padding-bottom: 30px;
  line-height: 50px;
  /* margin-left: 10px; */
}

.genres__item {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(140px, .5fr)); */
  /* gap: 20px; */
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  position: static;
  word-spacing: 1px;
  margin-left: 5px;
}

.poster-detail {
  margin-left: 100px;
}

.banner-search {
  background-color: black;
  height: cover;
  min-height: 1280px;
}

/* .div, .bg-dark {
  margin-top: 100px;
} */

.container,
.search-bar {
  /* margin-top: 150px; */
}

.search-bar-height {
  min-height: 150px;
}

.video-player {
  margin: auto;
  width: 50%;
}

.video {
  margin: auto;
}

.col-auto, .justify-content-center, .pt-4 {
  /* margin-right: 30px; */
}

.d-flex, .justify-content-center, p-3 {


}

/* .btn btn-outline-info btn-lg {
  position: relative;
  align-items: center;
  justify-content: center;

}

#poster-detail col align-self-end pt-2 {
  margin-top: 150px;
  padding-left: 50px;
}

div #genres-div .col-align-self-end pb-5{
  margin-bottom: 200px;
} */

 /* @media (max-width: 1400px)

{
  .col-auto, .align-self-end, .pt-2 {
    width: 100%;
  }
}

/* @media (min-width: 1400px) */

 /* {
   .col-auto, .align-self-end, .pt-2 {
    width: 100px;
    align-items: center;
}
 }  */
/* .col-auto, .align-self-center, .pb-1 {
  width: 40%;
  }
  align-items: center;
} */




.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.body {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  position: absolute;
  background-color: black;
  padding: 0;
  width: 100%;
  height: 100%;
}

.p-2, .container {
  margin: 2rem auto;
  width: 60%;
  height: 90%;
  border-radius: 5px;
  overflow: auto;
  padding: 15px;
}

.dnd-list {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 10px;
  color: white;
  align-items:;
}

.number-movies {
  margin-top: 7px;
}

.input-item {
  position: relative;
  height: 100%;
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: calc(10px + 2vmin);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: move;
  padding-left: 10px;
  background-color: white;
}

.over {
  transform: scale(1.01);
  border: 1px dashed #eee;
  /* background-color: linear-gradient(to left, rgba(46, 21, 27, 0.712), rgba(161, 81, 44, 0.489); */
}

.addButton {
  display: flex;
  align-items: center;
  margin: auto;
  line-height: 26px;
  border: none;
  color: black;
  border-radius: 50%;
  font-size: 24px;
}

.delButton {
  display: flex;
  align-items: center;
  color: darkgrey;
  margin-left: 10px;
  height: 37px;
  width: 30px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
